[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
myst-parser = "*"
pipenv = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-copybutton = "*"

[dev-packages]
autopep8 = "*"
jupyter = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"
semver = "*"
