[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"sphinxcontrib.domaintools" = "*"
loguru = "*"
myst-parser = "*"
pipenv = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-autodoc2 = "*"
sphinx-copybutton = "*"
jinja2 = {editable = true, path = "."}

[dev-packages]
autopep8 = "*"
jupyter = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"
semver = "*"
